/* entries*/
#orbital-main-content{
  float:left;
}
.no-feed-displayed{
  font-weight: lighter;
  font-size: large;
  padding:20px;
}
.entries {
  /*background-color: #ECECEC;*/
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 2%, rgba(255,255,255,.9) 98%, rgba(255,255,255,0) 100%); /* W3C */
  /*padding:5px;*/
  color: #666;
}

.entries .is-read{
  /*font-style:italic;*/
  color: #999;
}

.entries .is-current{
  font-style:normal;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.4);
  color: #333;
}
#orbital-entries{
  margin:0px;
}
.entries img {
  max-width: 100%;
  height:auto;
}

.entry{
  display:inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  /*padding-left: 5px;*/
  position:relative;
  width: -moz-available;
  width: -webkit-fill-available;
  width: available;
  box-shadow: 0 8px 17px rgba(20,20,20,.2);
}

.entry h2{
  text-shadow: 0px 1px 1px #aaa;
}

.entry .author{
  font-size: .9em;
}
.entry .author:before{
  content:"by ";
}
.entry > .feed:before{
  content:"from ";
}

.indicators{
  width:100%;
  height:1.5em;
}
.indicator{
  position:relative;
  right: 20px;
  float:right;
  padding-left:1rem;
  color: rgba(0,0,0,0.54);
}

/* i'd like to just make this all CSS
 * including backgroud spinner*/
/*
.is-loading:before{
  content:"loading..";
  color:white;
  background-color: #232323;
  color: rgba(200,200,200,.8);
  background-color:rgba(50,50,50, .8);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top:50px;
  right: 30px;
}
*/

.ember-button{
  border-bottom: 1px dotted;
}

/* The Feed List
 */

#orbital-feedlist{
  overflow-y:auto;
  padding-left: 0px;
  padding-right: 0px;
  width:20%;
  min-width: 8rem;
  height:100%;
  float:left;
}
#orbital-feedlist-actions{
  display:inline-block;
  padding-top:1em;
}
#feed-head > h2 {
  display:inline;
}

#feed-head .action {
  font-size:1.5em;
  padding-left: 5px;
  padding-right: 5px;
  background: #dedede;
  box-shadow: 0 0 1px;
  border-radius: 5px;

}

#feeds {
  overflow-y:auto;
  margin:0px;
}

#orbital-feedlist ul li {
  margin-bottom: 0px; /*override something in main wp styles.*/
}
.feed, .tag {
  min-height: 1.5rem;

}
#tags ul>li {
  padding-left: 1em;
}
a.orbital-treeindicator {
  text-decoration:none;
}
.feedcounter {
  font-size: xx-small;
  vertical-align: top;
}
.feedcounter:before{
  content: "(";
}
.feedcounter:after{
  content: ")";
}

.is-selected{
  text-shadow: 1px 1px 2px #666;
  box-shadow: 1px 1px 3px #666666 inset;
  background-color: #777777;
  background-image: linear-gradient(center bottom , #6D6D6D, #808080);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #333333;
}

.is-editable{
  //background-color: white;
  //box-shadow: 0 0 4px #353535;
  color:rgba(0,0,150,0.56);
}

#y-indicator{
  background-color: rgba(20,20,200, .5);
  height: 5px;
  width: 20px;
  position: absolute;
  left:-10px;
  top: 200px;
  border-radius: 0 50px 50px 0;
}



.modal-window{
  padding: 20px;
  color: #343434;
  text-shadow: 1px 1px 2px #ffffff;
  background-color: #efefef;
  background-color: rgba(250,250,250,.9);
 /* background-image: -moz-linear-gradient(center bottom, rgba(60, 60, 60, 0.7) , rgba(40, 40, 40, 0.6) 50px);*/
  position: fixed;
  top: 50px;
  left: 30%;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #fff inset, 2px 2px 8px #000;
  z-index:200;
}
.invisible{
  display: none;
}
#orbital-content{
  position:absolute;
  width:80%;
  max-width:60rem;
  min-width:30rem;
 /* background:#dedede;*/
  overflow-y:auto;
  z-index:50;
}
/* Command Bar */
#commandbar {
  background: #dddddd;
  display: inline-block; 
  float:left;
  /*position: absolute;*/
  /*this is the height of the admin bar.*/
  width:100%;
  
  top: 28px;
}
#commandbar ul{
  display: inline; 

}
.action, .clickable{
  cursor: pointer;
  text-shadow: 0 0 3px #fff;
}
.dismiss{
  position: absolute;
  right: 10px;
  top: 10px;
}
.feed:hover,
.tag:hover,
.ember-button:hover
{
  cursor: pointer;
  text-shadow: 0 0 3px #fff;
  color: #D54E21;
  background: #E4E4E4;
}
#commandbar li{
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.title {
  font-weight:strong;
  font-size:1.1em;

}

/*Subscriptions */

.horizontal-form label input{
  font-weight:normal;
}
.horizontal-form label{
  font-weight: bold;
  padding-top: 10px;
}

.horizontal-form label input{
  font-weight:normal;
}

.horizontal-form input {
   display: block;
   padding: 5px;
   width: 90%;
}
.horizontal-form input[type='checkbox']{
   display: inline-block;
   width:auto;
}
.horizontal-form input[type='button'] {
   display: inline;
   width:auto;
}
.tagselected {
  background:#F0F0B8;
}
.autocomplete > .suggestions {
  position: relative;
  bottom: 2px;
  left: 2px;
  background: white;
  border: 1px solid #808080;
  list-style: none outside none;
  margin: 0;
  padding: 2px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  z-index:1000;
}
#opml-form{
  border-top: 1px dotted #000;
  display:ms-flexbox;
  display:flex;
  max-height:80%;
}
.upload-form {
  max-width:20rem;
}

.opml-candidates {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 2%, rgba(255, 255, 255, 0.7) 98%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  overflow-y:scroll;
  padding: 5px;
  max-height:20rem;
}
.opml-candidates li{
   box-shadow: 1px 2px 5px;
   margin: 10px;
   padding: 5px;
}

#tagentry{
  display:inline;
}
/*
 * these next two override regular wordpress styles
 * because they stay in one place when you scroll
 */
.tagchecklist span {
  padding-left: 1rem;
}
.tagchecklist span a {
  position: relative;
}
.heading {
  font-size: large;
}
/*hey it doesn't really work for this */
#wpfooter {
  display:none;
}
.update-nag {
  display:none;
}

#loadmoreajaxloader{
  display:block;
  border-radius:5px;
  color:white;
  text-shadow: 0 0 3px;
  padding: 10px;
  background: rgba(100,100,100,0.7);
  position:absolute;
  right:5px;
  top: 20px;
  float:right;
}

#feed-icon,
#opml-icon {
  width:14px;
}
#wpbody-content{
  padding-bottom:0px;
}

/*small breakpoint queries*/
@media (max-width: 782px){
  .orbital-entries-command a span{
    text-align: center;
  }

  #wp-admin-bar-orbital-mark-as-read .ab-icon:before{
    content: "\f147";
  }
  #wp-admin-bar-orbital-update-feed .ab-icon:before{
    content: "\f342";
  }
  #wp-admin-bar-orbital-sort .ab-icon:before{
    content: "\f156";
  }
  #wp-admin-bar-orbital-show-read-items .ab-icon:before{
    content: "\f331";
    line-height: 48px;
  }
  .orbital-entries-command{
    display:block !important;
  }
}
